background {
    background-image: url('./assets/img/aboutMe.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img {
    float:left;
    margin: 0 10px;
    border: solid rgb(59, 59, 59) 2px;
}

p {
    margin: 10px;
    line-height: 20px;
}

h2 {
    margin: 10px;
    margin-left: 20px;
    /* border: solid black 2px; */
}

section {
    background-color: gray;
    color:white;
    margin: 15%;
    border: solid black 2px;
}

nav {
    border: 1px;
    border-style: hidden hidden solid hidden;
}